<% if @range == "User" && @users.length > 0 %>
    <h2>Users search for "<%= @word %>"</h2>
    <%= render 'users/index', users: @users %>
  
  <% elsif  @range == "Book" && @books.length > 0 %>
    <h2>Books search for "<%= @word %>"</h2>
    <%= render 'books/index', books: @books %>
  
  <% else %>
    <p class="text-center p-4">一致するものはありませんでした</p>
<% end %>